<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHBl1tEw_RuTblD2GGCdEjBbrPa8irE5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>237674469026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bivol.createpost</string>
	<key>PROJECT_ID</key>
	<string>postscreator</string>
	<key>STORAGE_BUCKET</key>
	<string>postscreator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237674469026:ios:a96a73102f6768f12ee9fb</string>
	<key>DATABASE_URL</key>
	<string>https://postscreator-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>